.game-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* background-color: black; */

  width: 300px;
  height: 300px;

}

.game-container .mark {
  border: 1px solid black;
}